<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="layout/layout :: head"></head>
	
	<body>
	
		<header th:replace="layout/layout :: header"></header>
	
		<div class="py-4">
		
			<div class="alert alert-success" role="alert" th:if="${operationSuccess}">
			  Operaci&oacute;n Exitosa
			</div>
			
			<div class="alert alert-warning" role="alert" th:if="${operationWarning}">
			  Ocurri&oacute; un error, por favor revise la informaci&oacute;n enviada
			</div>
		
			<div class="card bg-light">
					
				<div class="card-header" th:text="${title_gridMantenimiento}">
				</div>
				
				<div class="card-body">
				
					<div class="card-title">
						<a th:href="@{/formMantenimiento}" class="btn btn-secondary">Crear nuevo mantenimiento</a>
					</div>
		
					<table class="table table-bordered">
					
						<thead>
							<tr>
								<th>Placa Vehiculo</th>
								<th>Mecanico Asignado</th>
								<th>Tope Presupuesto Cliente</th>
								<th class="text-center" colspan="2">Servicios</th>
								<th class="text-center" colspan="2">Repuestos</th>
								<th class="text-center" colspan="3">Facturar</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="mant : ${listaMantenimientos}">
								<td th:text="${mant.getVehiculo().getPlaca()}"></td>
								
								<td th:if="${mant.getMecanico() == null}">
									<button onclick="selectAsigMec(this)" type="button" class="btn btn-info" th:data-form="${mant.getCodigo()}"
										data-toggle="modal" data-target="#staticBackdrop">Asignar Mecanico</button>
								</td>
								<td th:if="${mant.getMecanico()}" th:text="${mant.getMecanico().getNombreCompl()}"></td>
								
								<td th:text="${mant.getPrecio_tope() <= 0}? 'No se define tope': '$'+${#numbers.formatDecimal(mant.getPrecio_tope(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
								<td th:text="'$'+${#numbers.formatDecimal(mant.getPrecioTotalServicios(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
								<td><button class="btn btn-secondary">Asignar Servicios</button></td>
								<td th:text="'$'+${#numbers.formatDecimal(mant.getPrecioTotalRepuestos(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
								<td><button class="btn btn-secondary">Asignar Repuestos</button></td>
								<td><button class="btn btn-secondary">Realizar Facturacion</button></td>
							</tr>
						</tbody>
					
					</table>
				</div>		
			
			</div>
		
		</div>
		
		<div class="modal fade bd-example-modal-lg"  id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" 
			role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Asigne un mecanico</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	
		      	<table class="table">
		      		<thead>
		      			<tr>
		      				<th>Nombre Completo</th>
		      				<th>Tiempo </th>
		      				<th>Asignar </th>
		      			</tr>
		      		</thead>
		      		<tbody>
		      			<tr th:each="mec : ${listaMecanicos}">
		      				<td th:text="${mec.getNombre_completo()}"></td>
		      				<td th:text="${mec.getTiempo_asignacion()}"></td>
		      				<td><input onclick="selectRadio(this)" name="radioMec" type="radio" 
		      					th:value="${mec.getTipo_documento()}+'-'+${mec.getDocumento()}" />
		      				</td>
		      			</tr>
		      		</tbody>
		      	</table>
		      	
		      </div>
		      <div class="modal-footer">
		      	<a th:href="@{/saveAsignacionMecanico}" id="btnAceptarAsignacion" class="btn" disabled onclick="validateClick(this)">Aceptar</a>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<input type="hidden" data-form="" id="txtMantenimiento" />
		
		<footer th:replace="layout/layout :: footer"></footer>
		
		<script th:src="@{/js/myScript.js}" ></script>
		
	</body>

</html>